
<h1>Add a New Recipe</h1>
<br />
<!--bootstrap container-->
<div class="container background">
  <div class="row">
    <div class="col-lg">
      <!--id: recipe will change the inner Html after submit recipe-->
      <div id="recipe">
        <div id="confirm">
          <form #addTitle="ngForm" (ngSubmit)="AddRecipe(addTitle.form.value.title); ConfirmTitle(addTitle.form.value.title)">
            <h2>Title </h2><input type="text" name="title" placeholder="Title of Recipe" ngModel /><br>
            <input type="submit" value="Create New Recipe" />
          </form>
        </div>
      </div>
      <br>
    </div>
  </div>

  <!-- Search and Add indregients -->
  <div class="row">
    <div class="col-lg">
      <div>
        <h2>Ingredients</h2>
        <ul *ngIf="iList !== null">
          <li *ngFor="let in of iList; index as i">
            <p>{{in.amount}} of {{in.item}} <button class="b2" (click)="RemoveIngredient(i)">x</button></p>
          </li>
        </ul>
        <form id="firstIng" #searchFoodForm="ngForm" (ngSubmit)="SearchIngredient(searchFoodForm.form.value.food)">
          <input type="search" name="food" placeholder="Search for ingredient" ngModel />
          <input type="submit" value="Find Ingredient" />
        </form>
        <div *ngIf="ing != null">
          <p>{{ing.name}}</p>
          <form #addIngredientForm="ngForm" (ngSubmit)="AddToIngArray(addIngredientForm)">
            <input type="text" name="food" value="{{ing.name}}" ngModel />
            <input type="hidden" name="recipeID" value="{{ing.id}}" ngModel />
            <input style="width: 50px" type="number" name="amount" ngModel />
            <select name="unit" ngModel>
              <option value="g">g</option>
              <option value="oz">oz</option>
              <option value="tsp">tsp</option>
              <option value="tbsp">tbsp</option>
              <option value="cup">cup</option>
              <option value="lb">lb</option>
            </select>
            <input type="submit" value="Add Ingredient" />
          </form>
        </div>

        <!--let user add ingredient-->
        <div>
          <h3>Test : add your own ingredients</h3>
          <form #addUserIngredientForm="ngForm" (ngSubmit)="AddUserIngredient(addUserIngredientForm);">
            <label>Name</label>
            <!--name of the food-->
            <input type="text" name="userIng" ngModel />
            <br />
            <!--amount of the food-->
            <label>Amount:</label>
            <input type="number" name="amount" ngModel />
            <!--select the measurement of the food-->
            <select name="unit" ngModel>
              <option value="g">g</option>
              <option value="oz">oz</option>
              <option value="tsp">tsp</option>
              <option value="tbsp">tbsp</option>
              <option value="cup">cup</option>
              <option value="lb">lb</option>
            </select>
            <br />

            <!-- Create a Flag/Message to let the user know the nutritional information is not accurate -->
            <!--Calories / Carbs / Fats / Protiens-->
            <label>Calories</label>
            <input type="number" name="calories" placeholder="0" ngModel/>
            <br />
            <label>Carb</label>
            <input type="number" name="carbs" placeholder="0" ngModel/>
            <br />
            <label>Fats</label>
            <input type="number" name="fats" placeholder="0" ngModel/>
            <br />
            <label>Protein</label>
            <input type="number" name="protein" placeholder="0" ngModel/>
            <br />
            <input type="submit" />
          </form>
          <br />
        </div>
      </div>
    </div>
  </div>

  <!--Add Directions-->
  <!--Add Image-->
  <!-- Update form and pass completed recipe to backend -->
  <div class="row">
    <div class="col-lg">
      <h2>Directions:</h2>
      <form #directionsForm="ngForm" (ngSubmit)="UpdateRecipe(directionsForm); AddIngredientsToDB(); ConfirmRecipe()" id="dirform">
        Servings: <input type="number" name="servings" ngModel /><br />
        <label for="myimage">Select an Image:</label><br>
        <input type="file" id="myimage" name="myimage" /><br />
        <textarea rows="6" cols="50" name="description" form="dirform" ngModel>Type directions here...</textarea>
        <br>
        <input type="submit" value="Add Recipe" />
      </form>
    </div>
  </div>
</div>

<hr />









