<h1>Add a New Recipe</h1>
<form #addTitle="ngForm" (ngSubmit)="AddRecipe(addTitle.form.value.title)">
  <h2>Recipe Title: </h2><input type="text" name="title" placeholder="Title of Recipe" ngModel />
  <input type="submit" value="Create New Recipe" />
</form>
<br>
<h2>Ingredients:</h2>
<form id="firstIng" #searchFoodForm="ngForm" (ngSubmit)="SearchIngredient(searchFoodForm.form.value.food)">
  <input type="search" name="food" placeholder="Input ingredient" ngModel />
  <input type="submit" value="Find Ingredient" />
</form>
<div *ngIf="ing !== null">
  <p>{{ing.name}}</p>
  <!--<form #addIngredient="ngForm" (ngSubmit)="AddIngredient(addIngredient.form.value.amount, addIngredient.form.value.{{unit}})">-->
    <input type="number" name="amount"  />
    <select name="Units">
      <option *ngFor="let unit of ing.possibleUnits; index as i" value="{{unit}}" >{{unit}}</option>
    </select>
    <input type="submit" value="Add Ingredient" />
  <!--</form>-->
</div>


<h2>Directions:</h2>
<form #directionsForm="ngForm" (ngSubmit)="AddRecipeDescription(directionsForm.form.value.directions)">
  <input class="submissionfield" type="text" name="directions" placeholder="Please input directions" ngModel /><br />
  <label for="myimage">Select an Image:</label><br>
  <input type="file" id="myimage" name="myimage" /><br />
  <input type="submit" value="Add Recipe" />
</form>


<!--<div *ngIf="ing !== null">
  <h1>{{ing.name}}</h1>
  <h2>{{ing.possibleUnits}}</h2>
  <div *ngFor="let nutrient of ing.nutrition.nutrients; index as i">
    <h3 *ngIf="ing.nutrition.nutrients[i].title === 'Calories'">{{ing.nutrition.nutrients[i].title}}: {{ing.nutrition.nutrients[i].amount}} {{ing.nutrition.nutrients[i].unit}}</h3>
    <h3 *ngIf="ing.nutrition.nutrients[i].title === 'Carbohydrates'">{{ing.nutrition.nutrients[i].title}}: {{ing.nutrition.nutrients[i].amount}} {{ing.nutrition.nutrients[i].unit}}</h3>
    <h3 *ngIf="ing.nutrition.nutrients[i].title === 'Fat'">{{ing.nutrition.nutrients[i].title}}: {{ing.nutrition.nutrients[i].amount}} {{ing.nutrition.nutrients[i].unit}}</h3>
    <h3 *ngIf="ing.nutrition.nutrients[i].title === 'Protein'">{{ing.nutrition.nutrients[i].title}}: {{ing.nutrition.nutrients[i].amount}} {{ing.nutrition.nutrients[i].unit}}</h3>
  </div>
</div>-->
<!--<div *ngFor="let unit of ing.possibleUnits; index as i">

  <select id="unit">
    <option value="{{i}}">{{unit[i]}}</option>
  </select>

</div>

<p *ngFor="let nut of ing.nutrition.nutrients">
  Carbs: {{nut[13]}}<br />
  Fat: {{nut[24]}}<br />
  Protein: {{nut[23]}}
</p>-->
