<div style="border: 1px solid red">profile Component</div>

<!--user Information-->

<!--add button to change user name // other functionalitiy-->
<div>
  <h4>User Information</h4>

  <button routerLink='/authentication/profile'>User settings -- this will go to identity setting</button>
  <br />
  <button routerLink='/app-pantry'>Avatar settings -- this will go to Shop/Custom setting</button>
  <div>
    <p>User name: {{user.name}}</p>
    <p>User Email: {{user.loginId}}</p>
    <p>Score: {{user.score}}</p>
  </div>
</div>

<!--friend information-->
<div *ngFor="let f of fList | slice:0:5">
  <h4>Friends List</h4>
  <div *ngIf="fList !== undefinded">
    <p>{{f.name}} : {{f.score}}</p>
  </div>
</div>

<!--notification information-->
<div>
  <h4>Notifications</h4>
  <p routerLink="/app-invites">you have {{value}} notifications</p>
</div>

<!--user recipe list-->
<div>
  <h4>Recipe List</h4>
  <div *ngFor="let r of rList | slice:0:5">
    <p>{{r.recipeName}} : {{r.score}}</p>
  </div>

  <button routerLink='/add-recipe'>Add new recipe (20exp)</button>
</div>

<!--group information-->
<div>
  <h4>Group information</h4>
  <button routerLink='/app-group'>View Groups</button>

  <div *ngFor="let g of gList; index as i">
    <p *ngIf="g.admin === true">{{g.groupName}}</p>
  </div>
</div>

<!--View Favorites-->
<div>
  <button routerLink="/app-favorites">View Favorites</button>
</div>

