<!--Profile and Cookbook container-->
<div class="container main-border">
  <!--will hold the profile information-->
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 center">
      <h2>{{user.title}}, {{user.name}}</h2>
      <a routerLink="/app-invites">you have {{value}} notifications</a>
      <br />
      <img style="height: 200px; width: 200px;" src="{{user.picture}}" />
      <br />
      <h4>Score: {{user.score}}</h4>
      <button type="button" class="btn btn-outline-info button-space" routerLink='/app-pantry'>Profile Settings</button>
      <button type="button" class="btn btn-outline-info button-space" routerLink='/authentication/profile'>Account Settings</button>
    </div>

    <div class="col-lg-6 col-md-6 center">
      <!--CookBook-->
      <h2>Recipe List</h2>
      <!--add new recipe-->
        <button type="button" class="btn btn-outline-info button-space" routerLink='/add-recipe'>Add new recipe</button>
      <!--View Favorites-->
        <button type="button" class="btn btn-outline-info button-space" routerLink="/app-favorites">View Favorites</button>
      <!--display list of recipes-->
      <div *ngFor="let r of rList | slice:0:5">
        <div style="border: solid yellow 1px">
          <h5>
            <a [routerLink]="['/detail-recipe', r.id]">{{r.recipeName}} : {{r.score}}</a>
            <button id="{{r.id}}" class="b3" (click)="warning(r.id)" style="background-color: transparent;">Remove Recipe</button>
          </h5>
          <img style="height: 150px; width: inherit" src="{{r.picture}}" />
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container center main-border">
  <!--Second row below User info and recipes-->
  <div class="row">
    <!--friend information-->
    <div class="col-lg-6 col-md-6 center" style="border: solid red 5px">
      <h2>Friends</h2>
      <div *ngFor="let f of fList | slice:0:5">
        <div *ngIf="fList !== undefinded">
          <p>{{f.name}} : {{f.score}}</p>
        </div>
      </div>
    </div>

    <!--group information-->
    <div class="col-lg-6 col-md-6" style="border: solid blue 5px">
      <h2><a routerLink='/app-group'>Groups - Admin</a></h2>
      <div *ngFor="let g of gList; index as i">
        <p *ngIf="g.admin === true">{{g.groupName}}</p>
      </div>
    </div>
  </div>
</div>







