<!--user Information-->

<!--add button to change user name // other functionalitiy-->
<div>
  <h2>User Information</h2>

  <button routerLink='/authentication/profile'>Update Settings</button>
  <br />
  <button routerLink='/app-pantry'>Claim your Titles!</button>
  <div>
    <p>User name: {{user.name}}</p>
    <p>User Email: {{user.loginId}}</p>
    <p>Score: {{user.score}}</p>
  </div>
</div>

<!--friend information-->
  <h2>Top 5 Friends</h2>
<div *ngFor="let f of fList | slice:0:5">
  <div *ngIf="fList !== undefinded">
    <p>{{f.name}} : {{f.score}}</p>
  </div>
</div>

<!--notification information-->
<div>
  <h2>Notifications</h2>
  <a routerLink="/app-invites">you have {{value}} notifications</a>
</div>

<!--user recipe list-->
<div>
  <h2>Recipe List</h2>
  <div *ngFor="let r of rList | slice:0:5">
    <h5>
      <a [routerLink]="['/detail-recipe', r.id]">{{r.recipeName}} : {{r.score}}</a>
    </h5>
    <img style="height: 150px; width: inherit" src="{{r.picture}}" />
  </div>

  <hr />
  <button routerLink='/add-recipe'>Add new recipe (20exp)</button>
</div>

<!--group information-->
<div>
  <h2>Groups - Admin</h2>
  <button routerLink='/app-group'>View Groups</button>
  <div *ngFor="let g of gList; index as i">
    <p *ngIf="g.admin === true">{{g.groupName}}</p>
  </div>
</div>

<!--View Favorites-->
<div>
  <button routerLink="/app-favorites">View Favorites</button>
</div>

