
<!--The id will be passed in, this is just for testing purposes-->
<h4>Recipe Details:</h4>
<input type="text" name="id" [(ngModel)]="getRecipe" />
<input type="submit" (click)="GetRecipeById(getRecipe)" />

<h2>{{r.recipeName}} </h2>
<div>
  <b>Created By: </b> {{r.userId}} <br />
  <!-- this is a container for checking if there is ingredients in the reciepe, and if there is it will loop and print-->
  <div *ngIf="r.ingredients[0] != null">
    <b> Ingredients:</b> <br />
    <div *ngFor="let ing of r.ingredients; let i = length">
      r.ingredients[i]
    </div>
  </div>
  <b>Description: </b> {{r.description}}
</div>

<!--
I need to still:
  -Call in the Users tables so I can say who its created by
  -Call in the Ingredients table so I can call in the ingredients
-->
