<div *ngIf="group.groupName != undefined">
  <h1> {{group.groupName}}</h1>
  <!-- need to pull in all the users in the group still-->
</div> 
<br />

<!-- I am going to go though each user in this group and pull their recipes in and then print them-->
<h2> Recipes in this group!</h2> <br />
  <div *ngFor="let r of allRecipes">
    <div *ngIf="r != undefined">
      <h3>  <a [routerLink]="['/detail-recipe', r.id]"> {{r.recipeName}} </a> </h3>
      <img style="width: 400px; height:inherit" src="{{r.picture}}" />
      <br />
      <hr />
    </div>
  </div>

