<h1>Recipes! </h1>
<!-- Search by Name: -->
<div>Search for a recipe by Name</div>
<input type="text" name="searchName" [(ngModel)]="name" />
<input type="submit" (click)="searchRecipeByName(name)" />
<br />
<br />
{{r.recipeName}} <br />
{{r.description}}
<br />
<!--Search by ingredients-->
<div>Search for recipes by ingredient </div>
<input type="text" name="searchIng" [(ngModel)]="ing" />
<input type="submit" (click)="searchRecipeByIng(ing)" />
<br />
<br />
<div *ngFor="let recipe of foundRecipe">
  {{recipe.recipeName}} <br />
  {{recipe.description}} <br />

</div>

<div *ngFor="let r of recipes">
  <h3>  {{r.recipeName}} </h3>
  <b>Score: </b>{{r.score}} <br />
  <p> {{r.description}}</p>
  <div *ngIf="r.servings !== null"> <b> Servings: </b> {{r.servings}}</div>
  <br />
</div>
